.input-text {
    border: 2px solid var(--secondary-color);
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    border-color: var(--primary-color);
  }
  
  .input-text:focus {
    border-color: var(--primary-color);
    outline: none;
  }
  